In [62]:
### Download renewables in new buildings data for Landkreise
### from inkar.de and compile into csv with Regions as rows
### and years as columns.

In [63]:
# Data URL https://inkar.de, start new query and select
# "Bauen und Wohnen"->"Baulandmarkt und Bautätigkeit" -> "Fertiggestellte Wohngebäude mit erneuerbarer Heizenergie"
# select all Landkreise and all years, download as .csv

In [64]:
# import necessary libraries

import pandas as pd

In [65]:
#load data
nb_df = pd.read_csv("data/inkar_wohngebaeude_wohnungen_erneuerbare.csv", delimiter=';', header=[0,1])

#drop unnecessary columns and column level
nb_df.drop(columns=["Aggregat","Fertiggestellte Wohnungen mit erneuerbarer Heizenergie"], inplace=True)
nb_df.columns = nb_df.columns.droplevel()

#rename columns and set AGS id as index
nb_df.rename({"Unnamed: 0_level_1": "AGS","Unnamed: 1_level_1":"Name"}, axis=1,inplace=True)
nb_df.set_index('AGS', inplace=True)

nb_df

/home/lalon/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                       Name   2016   2017   2018   2019
AGS
1001       Flensburg, Stadt   7,92   7,69  11,42   3,13
1002            Kiel, Stadt   5,00  13,89  16,44  18,99
1003          Lübeck, Stadt  17,97  16,15  23,71  12,41
1004      Neumünster, Stadt   0,00  11,76  16,36  24,53
1051           Dithmarschen  30,70  33,18  37,23  23,87
...                     ...    ...    ...    ...    ...
16073   Saalfeld-Rudolstadt  46,25  47,37  47,14  54,17
16074  Saale-Holzland-Kreis  45,90  65,75  67,07  55,68
16075      Saale-Orla-Kreis  42,86  39,53  55,56  50,00
16076                 Greiz  61,90  56,90  57,35  66,67
16077      Altenburger Land  36,21  50,85  56,67  44,00

[401 rows x 5 columns]

In [66]:
#function to convert from German number format (1.000,5) to python number format (1000.5)
def make_column_numeric(se):
    #se = se.str.replace('.','') #not necessary since percentages do not have thousands delimiter
    se = se.str.replace(',','.')
    se = pd.to_numeric(se)
    return se

In [67]:
#convert number format in numeric columns
nb_df[['2016','2017','2018','2019']] = nb_df[['2016','2017','2018','2019']].apply(make_column_numeric)

#prepend column names with indicator name
nb_df = nb_df.add_prefix('newbuilding_renewables_')
nb_df.rename(columns={'newbuilding_renewables_Name':'Name'},inplace=True)
nb_df

,Name,newbuilding_renewables_2016,newbuilding_renewables_2017,newbuilding_renewables_2018,newbuilding_renewables_2019
AGS,,,,,
1001,"Flensburg, Stadt",7.92,7.69,11.42,3.13
1002,"Kiel, Stadt",5.00,13.89,16.44,18.99
1003,"Lübeck, Stadt",17.97,16.15,23.71,12.41
1004,"Neumünster, Stadt",0.00,11.76,16.36,24.53
1051,Dithmarschen,30.70,33.18,37.23,23.87
...,...,...,...,...,...
16073,Saalfeld-Rudolstadt,46.25,47.37,47.14,54.17
16074,Saale-Holzland-Kreis,45.90,65.75,67.07,55.68
16075,Saale-Orla-Kreis,42.86,39.53,55.56,50.00
16076,Greiz,61.90,56.90,57.35,66.67
16077,Altenburger Land,36.21,50.85,56.67,44.00

In [68]:
#save dataframe to file
nb_df.to_csv("data/final_data_landkreis_newbuildings_renewables.csv")