In [4]:
#pull data from all the ranking csvs
#generate the five postcard texts and save to file

In [5]:
#import necessary libraries
import pandas as pd

In [6]:
#import gerics landkreis data and standardize columns
gerics_landkreis = pd.read_csv('other/gerics/gerics_original_data/final_gerics_rcp45_2036_2065_heisze_tage_median.csv')
gerics_landkreis.drop(columns=['Unnamed: 0'],inplace=True)
gerics_landkreis.columns=['AGS', 'Name', 'Bundesland', '1971-2000','2036-2065', 'percentage change']
gerics_landkreis =  gerics_landkreis[(gerics_landkreis['AGS'] != 11000) & (gerics_landkreis['AGS'] != 2000)]
gerics_landkreis

,AGS,Name,Bundesland,1971-2000,2036-2065,percentage change
0,5124,Wuppertal,Nordrhein-Westfalen,4.0,6.3,57.500000
1,16073,Saalfeld-Rudolstadt,Thüringen,2.9,5.0,72.413793
2,16072,Sonneberg,Thüringen,1.7,2.9,70.588235
3,16071,Weimarer Land,Thüringen,5.1,8.1,58.823529
4,16070,Ilm-Kreis,Thüringen,2.3,4.3,86.956522
...,...,...,...,...,...,...
396,5116,Mönchengladbach,Nordrhein-Westfalen,6.1,9.8,60.655738
397,5562,Recklinghausen,Nordrhein-Westfalen,5.8,9.1,56.896552
398,7338,Rhein-Pfalz-Kreis,Rheinland-Pfalz,9.0,16.4,82.222222
399,5162,Rhein-Kreis Neuss,Nordrhein-Westfalen,6.8,10.5,54.411765
400,5166,Viersen,Nordrhein-Westfalen,6.1,10.0,63.934426

In [7]:
#import gerics bundesland data and standardize columns
gerics_bundesland = pd.read_csv('other/gerics/gerics_original_data/final_gerics_rcp45_2036_2065_heisze_tage_median_de_bundesland.csv')
gerics_bundesland.drop(columns=['Unnamed: 0','Median','Postcard Intro'],inplace=True)
gerics_bundesland['Bundesland'] = gerics_bundesland['Name']
gerics_bundesland

,AGS,Name,1971-2000,2036-2065,percentage change,Bundesland
0,0,Deutschland,4.4,7.4,68.181818,Deutschland
1,1,Schleswig-Holstein,2.0,3.0,50.000000,Schleswig-Holstein
2,2,Hamburg,3.7,5.7,54.054054,Hamburg
3,3,Niedersachsen,3.9,5.9,51.282051,Niedersachsen
4,4,Bremen,3.8,5.8,52.631579,Bremen
5,5,Nordrhein-Westfalen,4.4,6.4,45.454545,Nordrhein-Westfalen
6,6,Hessen,4.3,7.3,69.767442,Hessen
7,7,Rheinland-Pfalz,5.0,9.0,80.000000,Rheinland-Pfalz
8,8,Baden-Württemberg,4.3,9.3,116.279070,Baden-Württemberg
9,9,Bayern,4.0,9.0,125.000000,Bayern
10,10,Saarland,4.7,8.7,85.106383,Saarland
11,11,Berlin,8.0,12.0,50.000000,Berlin
12,12,Brandenburg,6.9,10.9,57.971014,Brandenburg
13,13,Mecklenburg-Vorpommern,2.7,3.7,37.037037,Mecklenburg-Vorpommern
14,14,Sachsen,5.3,9.3,75.471698,Sachsen
15,15,Sachsen-Anhalt,6.6,10.6,60.606061,Sachsen-Anhalt
16,16,Thüringen,3.6,6.6,83.333333,Thüringen

In [8]:
#merge both datasets into one dataframe
gerics_df = gerics_landkreis.append(gerics_bundesland).sort_values('AGS').copy()
gerics_df

,AGS,Name,Bundesland,1971-2000,2036-2065,percentage change
0,0,Deutschland,Deutschland,4.4,7.4,68.181818
1,1,Schleswig-Holstein,Schleswig-Holstein,2.0,3.0,50.000000
2,2,Hamburg,Hamburg,3.7,5.7,54.054054
3,3,Niedersachsen,Niedersachsen,3.9,5.9,51.282051
4,4,Bremen,Bremen,3.8,5.8,52.631579
...,...,...,...,...,...,...
1,16073,Saalfeld-Rudolstadt,Thüringen,2.9,5.0,72.413793
8,16074,Saale-Holzland-Kreis,Thüringen,5.3,8.7,64.150943
7,16075,Saale-Orla-Kreis,Thüringen,2.8,4.8,71.428571
6,16076,Greiz,Thüringen,4.2,7.2,71.428571
5,16077,Altenburger Land,Thüringen,5.9,10.2,72.881356

In [9]:
#create base dataframe for postcard texts
postcards_df = gerics_df[['AGS','Name']].copy()
#postcards_df['gerics_text'] = gerics_df.agg(lambda x: f'''<p>Hallo!</p><p>Ich schicke dir Grüße aus dem schönen <span className='location-name'>{x['Name']}</span>. Derzeit wird es hier an durchschnittlich <span className="gerics-data">{str(round(x['1971-2000'],1)).replace(".", ",")} Tagen</span> im Jahr über 30 Grad, aber wenn wir so weitermachen, könnten es Mitte des Jahrhunderts schon <span className="gerics-data">{str(round(x['2036-2065'],1)).replace(".", ",")}</span> sein. <span className="gerics-data">{round(x['percentage change'])} Prozent mehr!</span></p><p>''',
                                          #  axis=1)
postcards_df

      AGS                  Name
0       0           Deutschland
1       1    Schleswig-Holstein
2       2               Hamburg
3       3         Niedersachsen
4       4                Bremen
..    ...                   ...
1   16073   Saalfeld-Rudolstadt
8   16074  Saale-Holzland-Kreis
7   16075      Saale-Orla-Kreis
6   16076                 Greiz
5   16077      Altenburger Land

[416 rows x 2 columns]

## Energy

In [10]:
#load energy data and create postcard texts
#add to postcards_df

In [11]:
energy_df = pd.read_csv("energy/data/final_postcard_data_energy.csv")
energy_df.drop(columns=['Unnamed: 0'],inplace=True)
energy_df = energy_df[['AGS','energy_rank','energy_third']]
energy_df

       AGS  energy_rank           energy_third
0        0          NaN                    NaN
1        1          2.0         besten Drittel
2        2         15.0  schlechtesten Drittel
3        3          4.0         besten Drittel
4        4         12.0  schlechtesten Drittel
..     ...          ...                    ...
411  16073          3.0         besten Drittel
412  16074          3.0         besten Drittel
413  16075          3.0         besten Drittel
414  16076          3.0         besten Drittel
415  16077          3.0         besten Drittel

[416 rows x 3 columns]

In [12]:
#merge energy postcards into base dataframe
postcards_df=postcards_df.merge(energy_df, on='AGS',how='left')
#postcards_df['En_postcard'] = postcards_df['gerics_text']+postcards_df['En_postcard']
postcards_df

       AGS                  Name  energy_rank           energy_third
0        0           Deutschland          NaN                    NaN
1        1    Schleswig-Holstein          2.0         besten Drittel
2        2               Hamburg         15.0  schlechtesten Drittel
3        3         Niedersachsen          4.0         besten Drittel
4        4                Bremen         12.0  schlechtesten Drittel
..     ...                   ...          ...                    ...
411  16073   Saalfeld-Rudolstadt          3.0         besten Drittel
412  16074  Saale-Holzland-Kreis          3.0         besten Drittel
413  16075      Saale-Orla-Kreis          3.0         besten Drittel
414  16076                 Greiz          3.0         besten Drittel
415  16077      Altenburger Land          3.0         besten Drittel

[416 rows x 4 columns]

## Mobilität

In [13]:
mobility_df = pd.read_csv("mobility/data/final_postcard_data_mobility.csv")
mobility_df = mobility_df[['AGS','mobility_rank','mobility_third']]
mobility_df

       AGS  mobility_rank         mobility_third
0        0              0                    NaN
1        1             10      mittleren Drittel
2        2              2         besten Drittel
3        3             12  schlechtesten Drittel
4        4              3         besten Drittel
..     ...            ...                    ...
411  16073            139      mittleren Drittel
412  16074            144      mittleren Drittel
413  16075            246      mittleren Drittel
414  16076            205      mittleren Drittel
415  16077            118         besten Drittel

[416 rows x 3 columns]

In [14]:
#merge energy postcards into base dataframe
postcards_df=postcards_df.merge(mobility_df, on='AGS',how='left')
#postcards_df['Mo_postcard'] = postcards_df['gerics_text']+postcards_df['Mo_postcard']
postcards_df

,AGS,Name,energy_rank,energy_third,mobility_rank,mobility_third
0,0,Deutschland,NaN,NaN,0,NaN
1,1,Schleswig-Holstein,2.0,besten Drittel,10,mittleren Drittel
2,2,Hamburg,15.0,schlechtesten Drittel,2,besten Drittel
3,3,Niedersachsen,4.0,besten Drittel,12,schlechtesten Drittel
4,4,Bremen,12.0,schlechtesten Drittel,3,besten Drittel
...,...,...,...,...,...,...
411,16073,Saalfeld-Rudolstadt,3.0,besten Drittel,139,mittleren Drittel
412,16074,Saale-Holzland-Kreis,3.0,besten Drittel,144,mittleren Drittel
413,16075,Saale-Orla-Kreis,3.0,besten Drittel,246,mittleren Drittel
414,16076,Greiz,3.0,besten Drittel,205,mittleren Drittel
415,16077,Altenburger Land,3.0,besten Drittel,118,besten Drittel

## Landwirtschaft

In [15]:
agri_df = pd.read_csv("agriculture/data/final_postcard_data_agriculture.csv")
agri_df = agri_df[['AGS','agriculture_rank','agriculture_third']]
agri_df

       AGS  agriculture_rank      agriculture_third
0        0               0.0                    NaN
1        1              14.0  schlechtesten Drittel
2        2               7.0      mittleren Drittel
3        3              15.0  schlechtesten Drittel
4        4              13.0  schlechtesten Drittel
..     ...               ...                    ...
411  16073             207.0      mittleren Drittel
412  16074             219.0      mittleren Drittel
413  16075             228.0      mittleren Drittel
414  16076             232.0      mittleren Drittel
415  16077              94.0         besten Drittel

[416 rows x 3 columns]

In [16]:
#merge energy postcards into base dataframe
postcards_df=postcards_df.merge(agri_df, on='AGS',how='left')
#postcards_df['La_postcard'] = postcards_df['gerics_text']+postcards_df['La_postcard']
postcards_df

,AGS,Name,energy_rank,energy_third,mobility_rank,mobility_third,agriculture_rank,agriculture_third
0,0,Deutschland,NaN,NaN,0,NaN,0.0,NaN
1,1,Schleswig-Holstein,2.0,besten Drittel,10,mittleren Drittel,14.0,schlechtesten Drittel
2,2,Hamburg,15.0,schlechtesten Drittel,2,besten Drittel,7.0,mittleren Drittel
3,3,Niedersachsen,4.0,besten Drittel,12,schlechtesten Drittel,15.0,schlechtesten Drittel
4,4,Bremen,12.0,schlechtesten Drittel,3,besten Drittel,13.0,schlechtesten Drittel
...,...,...,...,...,...,...,...,...
411,16073,Saalfeld-Rudolstadt,3.0,besten Drittel,139,mittleren Drittel,207.0,mittleren Drittel
412,16074,Saale-Holzland-Kreis,3.0,besten Drittel,144,mittleren Drittel,219.0,mittleren Drittel
413,16075,Saale-Orla-Kreis,3.0,besten Drittel,246,mittleren Drittel,228.0,mittleren Drittel
414,16076,Greiz,3.0,besten Drittel,205,mittleren Drittel,232.0,mittleren Drittel
415,16077,Altenburger Land,3.0,besten Drittel,118,besten Drittel,94.0,besten Drittel

## Buildings

In [17]:
buildings_df = pd.read_csv("buildings/data/final_postcard_data_buildings.csv")
buildings_df = buildings_df[['AGS','buildings_rank','buildings_third']]
buildings_df

       AGS  buildings_rank        buildings_third
0        0               0                    NaN
1        1              11      mittleren Drittel
2        2              16  schlechtesten Drittel
3        3              13  schlechtesten Drittel
4        4              15  schlechtesten Drittel
..     ...             ...                    ...
411  16073             130         besten Drittel
412  16074              31         besten Drittel
413  16075             225      mittleren Drittel
414  16076             157      mittleren Drittel
415  16077             324  schlechtesten Drittel

[416 rows x 3 columns]

In [18]:
#merge energy postcards into base dataframe
postcards_df=postcards_df.merge(buildings_df, on='AGS',how='left')
#postcards_df['Ge_postcard'] = postcards_df['gerics_text']+postcards_df['Ge_postcard']
postcards_df

,AGS,Name,energy_rank,energy_third,mobility_rank,mobility_third,agriculture_rank,agriculture_third,buildings_rank,buildings_third
0,0,Deutschland,NaN,NaN,0,NaN,0.0,NaN,0,NaN
1,1,Schleswig-Holstein,2.0,besten Drittel,10,mittleren Drittel,14.0,schlechtesten Drittel,11,mittleren Drittel
2,2,Hamburg,15.0,schlechtesten Drittel,2,besten Drittel,7.0,mittleren Drittel,16,schlechtesten Drittel
3,3,Niedersachsen,4.0,besten Drittel,12,schlechtesten Drittel,15.0,schlechtesten Drittel,13,schlechtesten Drittel
4,4,Bremen,12.0,schlechtesten Drittel,3,besten Drittel,13.0,schlechtesten Drittel,15,schlechtesten Drittel
...,...,...,...,...,...,...,...,...,...,...
411,16073,Saalfeld-Rudolstadt,3.0,besten Drittel,139,mittleren Drittel,207.0,mittleren Drittel,130,besten Drittel
412,16074,Saale-Holzland-Kreis,3.0,besten Drittel,144,mittleren Drittel,219.0,mittleren Drittel,31,besten Drittel
413,16075,Saale-Orla-Kreis,3.0,besten Drittel,246,mittleren Drittel,228.0,mittleren Drittel,225,mittleren Drittel
414,16076,Greiz,3.0,besten Drittel,205,mittleren Drittel,232.0,mittleren Drittel,157,mittleren Drittel
415,16077,Altenburger Land,3.0,besten Drittel,118,besten Drittel,94.0,besten Drittel,324,schlechtesten Drittel

## Waste

In [19]:
waste_df = pd.read_csv("waste/data/final_postcard_data_waste.csv")
waste_df = waste_df[['AGS','waste_rank','waste_third']]
waste_df

       AGS  waste_rank            waste_third
0        0         0.0                    NaN
1        1         7.0      mittleren Drittel
2        2        15.0  schlechtesten Drittel
3        3         2.0         besten Drittel
4        4        13.0  schlechtesten Drittel
..     ...         ...                    ...
411  16073       101.0         besten Drittel
412  16074       397.0  schlechtesten Drittel
413  16075       102.0         besten Drittel
414  16076       233.0      mittleren Drittel
415  16077       169.0      mittleren Drittel

[416 rows x 3 columns]

In [20]:
#merge energy postcards into base dataframe
postcards_df=postcards_df.merge(waste_df, on='AGS',how='left')
#postcards_df['Ab_postcard'] = postcards_df['gerics_text']+postcards_df['Ab_postcard']
postcards_df.dtypes

AGS                    int64
Name                  object
energy_rank          float64
energy_third          object
mobility_rank          int64
mobility_third        object
agriculture_rank     float64
agriculture_third     object
buildings_rank         int64
buildings_third       object
waste_rank           float64
waste_third           object
dtype: object

In [21]:
postcards_df['cumulative_rank'] = postcards_df[['energy_rank','mobility_rank','agriculture_rank', 'agriculture_third','buildings_rank', 'waste_rank']].sum(axis=1)
postcards_df

/tmp/ipykernel_17668/2178873642.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  postcards_df['cumulative_rank'] = postcards_df[['energy_rank','mobility_rank','agriculture_rank', 'agriculture_third','buildings_rank', 'waste_rank']].sum(axis=1)

,AGS,Name,energy_rank,energy_third,mobility_rank,mobility_third,agriculture_rank,agriculture_third,buildings_rank,buildings_third,waste_rank,waste_third,cumulative_rank
0,0,Deutschland,NaN,NaN,0,NaN,0.0,NaN,0,NaN,0.0,NaN,0.0
1,1,Schleswig-Holstein,2.0,besten Drittel,10,mittleren Drittel,14.0,schlechtesten Drittel,11,mittleren Drittel,7.0,mittleren Drittel,44.0
2,2,Hamburg,15.0,schlechtesten Drittel,2,besten Drittel,7.0,mittleren Drittel,16,schlechtesten Drittel,15.0,schlechtesten Drittel,55.0
3,3,Niedersachsen,4.0,besten Drittel,12,schlechtesten Drittel,15.0,schlechtesten Drittel,13,schlechtesten Drittel,2.0,besten Drittel,46.0
4,4,Bremen,12.0,schlechtesten Drittel,3,besten Drittel,13.0,schlechtesten Drittel,15,schlechtesten Drittel,13.0,schlechtesten Drittel,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,16073,Saalfeld-Rudolstadt,3.0,besten Drittel,139,mittleren Drittel,207.0,mittleren Drittel,130,besten Drittel,101.0,besten Drittel,580.0
412,16074,Saale-Holzland-Kreis,3.0,besten Drittel,144,mittleren Drittel,219.0,mittleren Drittel,31,besten Drittel,397.0,schlechtesten Drittel,794.0
413,16075,Saale-Orla-Kreis,3.0,besten Drittel,246,mittleren Drittel,228.0,mittleren Drittel,225,mittleren Drittel,102.0,besten Drittel,804.0
414,16076,Greiz,3.0,besten Drittel,205,mittleren Drittel,232.0,mittleren Drittel,157,mittleren Drittel,233.0,mittleren Drittel,830.0
415,16077,Altenburger Land,3.0,besten Drittel,118,besten Drittel,94.0,besten Drittel,324,schlechtesten Drittel,169.0,mittleren Drittel,708.0

In [22]:
landkreise_df = postcards_df[17:].sort_values(by='cumulative_rank',ascending=True)
landkreise_df

,AGS,Name,energy_rank,energy_third,mobility_rank,mobility_third,agriculture_rank,agriculture_third,buildings_rank,buildings_third,waste_rank,waste_third,cumulative_rank
385,15084,Burgenlandkreis,7.0,mittleren Drittel,110,besten Drittel,81.0,besten Drittel,12,besten Drittel,112.0,besten Drittel,322.0
174,7311,Frankenthal (Pfalz),8.0,mittleren Drittel,79,besten Drittel,NaN,NaN,243,mittleren Drittel,26.0,besten Drittel,356.0
263,9263,Straubing,6.0,mittleren Drittel,116,besten Drittel,16.0,besten Drittel,190,mittleren Drittel,45.0,besten Drittel,373.0
169,7211,Trier,8.0,mittleren Drittel,30,besten Drittel,73.0,besten Drittel,280,schlechtesten Drittel,30.0,besten Drittel,421.0
390,15089,Salzlandkreis,7.0,mittleren Drittel,93,besten Drittel,35.0,besten Drittel,151,mittleren Drittel,145.0,mittleren Drittel,431.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,3458,Oldenburg,4.0,besten Drittel,254,mittleren Drittel,381.0,schlechtesten Drittel,365,schlechtesten Drittel,148.0,mittleren Drittel,1152.0
281,9376,Schwandorf,6.0,mittleren Drittel,353,schlechtesten Drittel,305.0,schlechtesten Drittel,150,mittleren Drittel,383.0,schlechtesten Drittel,1197.0
71,3457,Leer,4.0,besten Drittel,156,mittleren Drittel,378.0,schlechtesten Drittel,375,schlechtesten Drittel,333.0,schlechtesten Drittel,1246.0
76,3462,Wittmund,4.0,besten Drittel,239,mittleren Drittel,362.0,schlechtesten Drittel,391,schlechtesten Drittel,314.0,schlechtesten Drittel,1310.0
50,3352,Cuxhaven,4.0,besten Drittel,237,mittleren Drittel,373.0,schlechtesten Drittel,357,schlechtesten Drittel,355.0,schlechtesten Drittel,1326.0

## Save to File

In [23]:
#save to file
landkreise_df.to_csv('final_score_ranking.csv')