In [ ]:
### Download agriculture data on number of animals per farm
### from regionalstatistik.de and compile into csv with Regions as rows
### and indicators and years as columns.

In [1]:
#41141-03-01-4-B
#https://www.regionalstatistik.de/genesis/online?operation=find&suchanweisung_language=de&query=41141-03-01-4-B#abreadcrumb
#include all three years and set regions to Landkreise, download as csv

In [2]:
# import necessary libraries

import pandas as pd
import numpy as np

In [89]:
#load dataset from local file
source_df = pd.read_csv("data/41141-03-01-4-B_flat.csv",delimiter=";", encoding='latin1', low_memory=False)

#remove subgroups of animals, Milchkühe and Zuchtsauen
source_df = source_df[(source_df['2_Auspraegung_Code'] != 'TIER-111') & (source_df['2_Auspraegung_Code'] != 'TIER-22')]

source_df

,Statistik_Code,Statistik_Label,Zeit_Code,Zeit_Label,Zeit,1_Merkmal_Code,1_Merkmal_Label,1_Auspraegung_Code,1_Auspraegung_Label,2_Merkmal_Code,2_Merkmal_Label,2_Auspraegung_Code,2_Auspraegung_Label,BTR034__Landwirtschaftliche_Betriebe_mit_Viehhaltung__Anzahl,BTR038__Landwirtschaftliche_Betriebe_mit_100_u.m._GV__Anzahl,VIE003__Viehbestand__GV,BTR034__Betriebe__Anzahl,TIE003__Tiere__Anzahl
0,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,1001,"Flensburg, kreisfreie Stadt",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-1,Rinder,NaN,NaN,NaN,8,555
2,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,1001,"Flensburg, kreisfreie Stadt",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,-,-
4,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,1001,"Flensburg, kreisfreie Stadt",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-3,Schafe,NaN,NaN,NaN,2,.
5,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-1,Rinder,NaN,NaN,NaN,14,1296
7,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,3,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7327,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16076,"Greiz, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,52,52023
7329,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16076,"Greiz, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-3,Schafe,NaN,NaN,NaN,69,3762
7330,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16077,"Altenburger Land, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-1,Rinder,NaN,NaN,NaN,65,12050
7332,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16077,"Altenburger Land, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,20,29186
7334,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16077,"Altenburger Land, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-3,Schafe,NaN,NaN,NaN,31,1173

In [90]:
tiere_df = source_df.copy()

#extract year from date
tiere_df['Jahr']=tiere_df['Zeit'].str[-4:]

#drop unnecessary columns
tiere_df.drop(columns=['Zeit','Statistik_Code', 'Statistik_Label', 'Zeit_Code', 'Zeit_Label', 
       '1_Merkmal_Code', '1_Merkmal_Label', 
       '2_Merkmal_Code', '2_Merkmal_Label',
       '2_Auspraegung_Code',
       'BTR034__Landwirtschaftliche_Betriebe_mit_Viehhaltung__Anzahl',
       'BTR038__Landwirtschaftliche_Betriebe_mit_100_u.m._GV__Anzahl',
       'VIE003__Viehbestand__GV', 'BTR034__Betriebe__Anzahl'],inplace=True)

#rename columns
tiere_df.rename(columns={'1_Auspraegung_Code':'AGS','1_Auspraegung_Label':'Name','2_Auspraegung_Label':'Tier','TIE003__Tiere__Anzahl':'Anzahl'},inplace=True)

#replace '-' with 0 and '.' with 'NaN according to Zeichnerklärung
tiere_df['Anzahl'].replace('-','0',inplace=True)
tiere_df['Anzahl'] = tiere_df['Anzahl'].apply(pd.to_numeric,errors='coerce')

tiere_df

        AGS                                      Name      Tier   Anzahl  Jahr
0      1001               Flensburg, kreisfreie Stadt    Rinder    555.0  2010
2      1001               Flensburg, kreisfreie Stadt  Schweine      0.0  2010
4      1001               Flensburg, kreisfreie Stadt    Schafe      NaN  2010
5      1002  Kiel, Landeshauptstadt, kreisfreie Stadt    Rinder   1296.0  2010
7      1002  Kiel, Landeshauptstadt, kreisfreie Stadt  Schweine      NaN  2010
...     ...                                       ...       ...      ...   ...
7327  16076                              Greiz, Kreis  Schweine  52023.0  2020
7329  16076                              Greiz, Kreis    Schafe   3762.0  2020
7330  16077                   Altenburger Land, Kreis    Rinder  12050.0  2020
7332  16077                   Altenburger Land, Kreis  Schweine  29186.0  2020
7334  16077                   Altenburger Land, Kreis    Schafe   1173.0  2020

[4401 rows x 5 columns]

In [111]:
#pivot dataframe to show animals and ears as columns
pt_df = tiere_df.pivot(index=['AGS','Name'],columns=['Tier','Jahr'],values=['Anzahl'])
pt_df

                                                     Anzahl                    \
Tier                                                 Rinder Schweine   Schafe
Jahr                                                   2010     2010     2010
AGS      Name
1001     Flensburg, kreisfreie Stadt                  555.0      0.0      NaN
1002     Kiel, Landeshauptstadt, kreisfreie Stadt    1296.0      NaN      NaN
1003     Lübeck, Hansestadt, kreisfreie Stadt        2411.0   8207.0    945.0
1004     Neumünster, kreisfreie Stadt                2290.0      NaN     46.0
1051     Dithmarschen, Landkreis                   134574.0  69089.0  89451.0
...                                                     ...      ...      ...
11008008 Berlin-Neukölln                                0.0      0.0      0.0
11009009 Berlin-Treptow-Köpenick                        0.0      0.0      0.0
11010010 Berlin-Marzahn-Hellersdorf                     0.0      0.0      0.0
11011011 Berlin-Lichtenberg                             0.0      0.0      0.0
11012012 Berlin-Reinickendorf                           0.0      0.0      0.0

                                                                               \
Tier                                                 Rinder Schweine   Schafe
Jahr                                                   2016     2016     2016
AGS      Name
1001     Flensburg, kreisfreie Stadt                  222.0      0.0      NaN
1002     Kiel, Landeshauptstadt, kreisfreie Stadt    1723.0      NaN      NaN
1003     Lübeck, Hansestadt, kreisfreie Stadt        2354.0   7586.0   1050.0
1004     Neumünster, kreisfreie Stadt                2243.0      NaN      NaN
1051     Dithmarschen, Landkreis                   132381.0  71491.0  62366.0
...                                                     ...      ...      ...
11008008 Berlin-Neukölln                                0.0      0.0      0.0
11009009 Berlin-Treptow-Köpenick                        0.0      0.0      0.0
11010010 Berlin-Marzahn-Hellersdorf                     0.0      0.0      0.0
11011011 Berlin-Lichtenberg                             0.0      0.0      0.0
11012012 Berlin-Reinickendorf                           0.0      0.0      0.0


Tier                                                 Rinder Schweine   Schafe
Jahr                                                   2020     2020     2020
AGS      Name
1001     Flensburg, kreisfreie Stadt                  198.0      0.0      NaN
1002     Kiel, Landeshauptstadt, kreisfreie Stadt    1634.0     15.0      NaN
1003     Lübeck, Hansestadt, kreisfreie Stadt        2277.0      NaN    397.0
1004     Neumünster, kreisfreie Stadt                1912.0      NaN      NaN
1051     Dithmarschen, Landkreis                   119640.0  75966.0  62202.0
...                                                     ...      ...      ...
11008008 Berlin-Neukölln                                NaN      NaN      NaN
11009009 Berlin-Treptow-Köpenick                        NaN      NaN      NaN
11010010 Berlin-Marzahn-Hellersdorf                     NaN      NaN      NaN
11011011 Berlin-Lichtenberg                             NaN      NaN      NaN
11012012 Berlin-Reinickendorf                           NaN      NaN      NaN

[489 rows x 9 columns]

In [112]:
#collapse levels of column names and join energy type to year
pt_df.columns = pt_df.columns.map('_'.join)

#sort columns so indicators are together
pt_df.columns=sorted(pt_df.columns)

#prepend all columns with indicator name
pt_df=pt_df.add_prefix('animalcount_')

pt_df

,,animalcount_Anzahl_Rinder_2010,animalcount_Anzahl_Rinder_2016,animalcount_Anzahl_Rinder_2020,animalcount_Anzahl_Schafe_2010,animalcount_Anzahl_Schafe_2016,animalcount_Anzahl_Schafe_2020,animalcount_Anzahl_Schweine_2010,animalcount_Anzahl_Schweine_2016,animalcount_Anzahl_Schweine_2020
AGS,Name,,,,,,,,,
1001,"Flensburg, kreisfreie Stadt",555.0,0.0,NaN,222.0,0.0,NaN,198.0,0.0,NaN
1002,"Kiel, Landeshauptstadt, kreisfreie Stadt",1296.0,NaN,NaN,1723.0,NaN,NaN,1634.0,15.0,NaN
1003,"Lübeck, Hansestadt, kreisfreie Stadt",2411.0,8207.0,945.0,2354.0,7586.0,1050.0,2277.0,NaN,397.0
1004,"Neumünster, kreisfreie Stadt",2290.0,NaN,46.0,2243.0,NaN,NaN,1912.0,NaN,NaN
1051,"Dithmarschen, Landkreis",134574.0,69089.0,89451.0,132381.0,71491.0,62366.0,119640.0,75966.0,62202.0
...,...,...,...,...,...,...,...,...,...,...
11008008,Berlin-Neukölln,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11009009,Berlin-Treptow-Köpenick,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11010010,Berlin-Marzahn-Hellersdorf,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11011011,Berlin-Lichtenberg,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11012012,Berlin-Reinickendorf,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [113]:
#save dataframe to file
pt_df.to_csv("data/final_data_landkreis_agriculture_animalcount.csv")