In [2]:
### Download agriculture data on number of animals per farm
### from regionalstatistik.de and compile into csv with Regions as rows
### and indicators and years as columns.

In [3]:
#41141-03-01-4-B
#https://www.regionalstatistik.de/genesis/online?operation=previous&levelindex=1&step=0&titel=Suche&levelid=1658981242301&levelid=1658981123219#abreadcrumb
#include all three years and set regions to Landkreise, download as csv

In [4]:
# import necessary libraries

import pandas as pd
import numpy as np

In [5]:
#load dataset from local file
source_df = pd.read_csv("data/41141-03-01-4_flat.csv",delimiter=";", encoding='latin1', low_memory=False)

#remove subgroups of animals, Milchkühe and Zuchtsauen
source_df = source_df[(source_df['2_Auspraegung_Code'] != 'TIER-111') & (source_df['2_Auspraegung_Code'] != 'TIER-22')]

source_df

,Statistik_Code,Statistik_Label,Zeit_Code,Zeit_Label,Zeit,1_Merkmal_Code,1_Merkmal_Label,1_Auspraegung_Code,1_Auspraegung_Label,2_Merkmal_Code,2_Merkmal_Label,2_Auspraegung_Code,2_Auspraegung_Label,BTR034__Landwirtschaftliche_Betriebe_mit_Viehhaltung__Anzahl,BTR038__Landwirtschaftliche_Betriebe_mit_100_u.m._GV__Anzahl,VIE003__Viehbestand__GV,BTR034__Betriebe__Anzahl,TIE003__Tiere__Anzahl
0,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,DG,Deutschland,TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-1,Rinder,NaN,NaN,NaN,144850,12534507
2,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,DG,Deutschland,TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,60097,27571352
4,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,DG,Deutschland,TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-3,Schafe,NaN,NaN,NaN,22273,2088541
5,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,01,Schleswig-Holstein,TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-1,Rinder,NaN,NaN,NaN,7943,1137172
7,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2010,KREISE,Kreise und kreisfreie Städte,01,Schleswig-Holstein,TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,1742,1620161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8062,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16076,"Greiz, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,52,52023
8064,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16076,"Greiz, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-3,Schafe,NaN,NaN,NaN,69,3762
8065,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16077,"Altenburger Land, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-1,Rinder,NaN,NaN,NaN,65,12050
8067,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16077,"Altenburger Land, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-2,Schweine,NaN,NaN,NaN,20,29186
8069,41141,Agrarstrukturerhebung / Landwirtschaftszählung,STAG,Stichtag,01.03.2020,KREISE,Kreise und kreisfreie Städte,16077,"Altenburger Land, Kreis",TIER04,Landwirtschaftliche Betriebe mit Viehhaltung,TIER-3,Schafe,NaN,NaN,NaN,31,1173

In [13]:
tiere_df = source_df.copy()

#extract year from date
tiere_df['Jahr']=tiere_df['Zeit'].str[-4:]

#drop unnecessary columns
tiere_df.drop(columns=['Zeit','Statistik_Code', 'Statistik_Label', 'Zeit_Code', 'Zeit_Label', 
       '1_Merkmal_Code', '1_Merkmal_Label', 
       '2_Merkmal_Code', '2_Merkmal_Label',
       '2_Auspraegung_Code',
       'BTR034__Landwirtschaftliche_Betriebe_mit_Viehhaltung__Anzahl',
       'BTR038__Landwirtschaftliche_Betriebe_mit_100_u.m._GV__Anzahl',
       'VIE003__Viehbestand__GV', 'BTR034__Betriebe__Anzahl'],inplace=True)

#rename columns
tiere_df.rename(columns={'1_Auspraegung_Code':'AGS','1_Auspraegung_Label':'Name','2_Auspraegung_Label':'Tier','TIE003__Tiere__Anzahl':'Anzahl'},inplace=True)

#replace '-' with 0 and '.' with 'NaN according to Zeichnerklärung
tiere_df['Anzahl'].replace('-','0',inplace=True)
tiere_df['Anzahl'] = tiere_df['Anzahl'].apply(pd.to_numeric,errors='coerce')

tiere_df['AGS']=tiere_df['AGS'].replace("DG",0)

tiere_df

        AGS                           Name      Tier      Anzahl  Jahr
0         0                    Deutschland    Rinder  12534507.0  2010
2         0                    Deutschland  Schweine  27571352.0  2010
4         0                    Deutschland    Schafe   2088541.0  2010
5        01             Schleswig-Holstein    Rinder   1137172.0  2010
7        01             Schleswig-Holstein  Schweine   1620161.0  2010
...     ...                            ...       ...         ...   ...
8062  16076                   Greiz, Kreis  Schweine     52023.0  2020
8064  16076                   Greiz, Kreis    Schafe      3762.0  2020
8065  16077        Altenburger Land, Kreis    Rinder     12050.0  2020
8067  16077        Altenburger Land, Kreis  Schweine     29186.0  2020
8069  16077        Altenburger Land, Kreis    Schafe      1173.0  2020

[4842 rows x 5 columns]

In [7]:
#pivot dataframe to show animals and ears as columns
pt_df = tiere_df.pivot(index=['AGS','Name'],columns=['Tier','Jahr'],values=['Anzahl'])
pt_df

                                                          Anzahl              \
Tier                                                      Rinder    Schweine
Jahr                                                        2010        2010
AGS   Name
0     Deutschland                                     12534507.0  27571352.0
01      Schleswig-Holstein                             1137172.0   1620161.0
01001       Flensburg, kreisfreie Stadt                    555.0         0.0
01002       Kiel, Landeshauptstadt, kreisfreie Stadt      1296.0         NaN
01003       Lübeck, Hansestadt, kreisfreie Stadt          2411.0      8207.0
...                                                          ...         ...
16073       Saalfeld-Rudolstadt, Kreis                   23973.0     25146.0
16074       Saale-Holzland-Kreis                         22635.0     87850.0
16075       Saale-Orla-Kreis                             37877.0     42328.0
16076       Greiz, Kreis                                 29902.0     59439.0
16077       Altenburger Land, Kreis                      13797.0     36733.0

                                                                             \
Tier                                                     Schafe      Rinder
Jahr                                                       2010        2016
AGS   Name
0     Deutschland                                     2088541.0  12354040.0
01      Schleswig-Holstein                             281728.0   1095984.0
01001       Flensburg, kreisfreie Stadt                     NaN       222.0
01002       Kiel, Landeshauptstadt, kreisfreie Stadt        NaN      1723.0
01003       Lübeck, Hansestadt, kreisfreie Stadt          945.0      2354.0
...                                                         ...         ...
16073       Saalfeld-Rudolstadt, Kreis                  10570.0     23769.0
16074       Saale-Holzland-Kreis                        12152.0     22399.0
16075       Saale-Orla-Kreis                             6568.0     37326.0
16076       Greiz, Kreis                                 2588.0     33357.0
16077       Altenburger Land, Kreis                      1502.0     12381.0

                                                                             \
Tier                                                    Schweine     Schafe
Jahr                                                        2016       2016
AGS   Name
0     Deutschland                                     27977515.0  1834275.0
01      Schleswig-Holstein                             1461628.0   205685.0
01001       Flensburg, kreisfreie Stadt                      0.0        NaN
01002       Kiel, Landeshauptstadt, kreisfreie Stadt         NaN        NaN
01003       Lübeck, Hansestadt, kreisfreie Stadt          7586.0     1050.0
...                                                          ...        ...
16073       Saalfeld-Rudolstadt, Kreis                   20668.0     7995.0
16074       Saale-Holzland-Kreis                         99032.0     8336.0
16075       Saale-Orla-Kreis                             48335.0     4643.0
16076       Greiz, Kreis                                 49732.0     2633.0
16077       Altenburger Land, Kreis                      31199.0      825.0

                                                                              \
Tier                                                      Rinder    Schweine
Jahr                                                        2020        2020
AGS   Name
0     Deutschland                                     11274534.0  26299994.0
01      Schleswig-Holstein                              981961.0   1375394.0
01001       Flensburg, kreisfreie Stadt                    198.0         0.0
01002       Kiel, Landeshauptstadt, kreisfreie Stadt      1634.0        15.0
01003       Lübeck, Hansestadt, kreisfreie Stadt          2277.0         NaN
...                                                          ...         ...
16073       Saalfeld-Rudolstadt, Kreis                   20959.0     18779.0
16074       Saale-Holzland-Kreis                         19788.0     92711.0
16075       Saale-Orla-Kreis                             33294.0     60415.0
16076       Greiz, Kreis                                 29690.0     52023.0
16077       Altenburger Land, Kreis                      12050.0     29186.0


Tier                                                     Schafe
Jahr                                                       2020
AGS   Name
0     Deutschland                                     1809264.0
01      Schleswig-Holstein                             213452.0
01001       Flensburg, kreisfreie Stadt                     NaN
01002       Kiel, Landeshauptstadt, kreisfreie Stadt        NaN
01003       Lübeck, Hansestadt, kreisfreie Stadt          397.0
...                                                         ...
16073       Saalfeld-Rudolstadt, Kreis                   7937.0
16074       Saale-Holzland-Kreis                         9551.0
16075       Saale-Orla-Kreis                             4788.0
16076       Greiz, Kreis                                 3762.0
16077       Altenburger Land, Kreis                      1173.0

[538 rows x 9 columns]

In [8]:
#collapse levels of column names and join energy type to year
pt_df.columns = pt_df.columns.map('_'.join)

#sort columns so indicators are together
pt_df.columns=sorted(pt_df.columns)

#prepend all columns with indicator name
pt_df=pt_df.add_prefix('agriculture_animalcount_')

#convert AGS to numeric and set as new index
pt_df.reset_index(inplace=True)
pt_df['AGS'] = pd.to_numeric(pt_df['AGS'])
pt_df.set_index('AGS',inplace=True)
pt_df.sort_index(ascending=True,inplace=True)

#strip whitespace from region names
pt_df['Name']=pt_df['Name'].str.strip()

pt_df

,Name,agriculture_animalcount_Anzahl_Rinder_2010,agriculture_animalcount_Anzahl_Rinder_2016,agriculture_animalcount_Anzahl_Rinder_2020,agriculture_animalcount_Anzahl_Schafe_2010,agriculture_animalcount_Anzahl_Schafe_2016,agriculture_animalcount_Anzahl_Schafe_2020,agriculture_animalcount_Anzahl_Schweine_2010,agriculture_animalcount_Anzahl_Schweine_2016,agriculture_animalcount_Anzahl_Schweine_2020
AGS,,,,,,,,,,
0,Deutschland,12534507.0,27571352.0,2088541.0,12354040.0,27977515.0,1834275.0,11274534.0,26299994.0,1809264.0
1,Schleswig-Holstein,1137172.0,1620161.0,281728.0,1095984.0,1461628.0,205685.0,981961.0,1375394.0,213452.0
2,Hamburg,6088.0,NaN,1890.0,6157.0,NaN,1649.0,5698.0,NaN,1343.0
3,Niedersachsen,2484629.0,8428731.0,205569.0,2605513.0,8917955.0,197718.0,2359904.0,8572562.0,179887.0
4,Bremen,10558.0,NaN,160.0,9990.0,NaN,125.0,8797.0,228.0,208.0
...,...,...,...,...,...,...,...,...,...,...
11008008,Berlin-Neukölln,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11009009,Berlin-Treptow-Köpenick,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11010010,Berlin-Marzahn-Hellersdorf,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11011011,Berlin-Lichtenberg,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
11012012,Berlin-Reinickendorf,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [9]:
#save dataframe to file
pt_df.to_csv("data/final_data_landkreis_agriculture_animalcount.csv")

In [20]:
## DATASNIPPET FOR TESTING

emsland = tiere_df[tiere_df.AGS == "03454"]
emsland
emsland.drop(["Name","AGS"],axis= 1,inplace=True)

emsland.to_csv("data/snippet/agriculture_animalscount_LK_emsland.csv")

emsland

/var/folders/6w/mz49x3ds0b18vg8p9jx7wg0r0000gn/T/ipykernel_37783/2538879493.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emsland.drop(["Name","AGS"],axis= 1,inplace=True)

          Tier     Anzahl  Jahr
310     Rinder   186676.0  2010
312   Schweine  1330549.0  2010
314     Schafe     7921.0  2010
3000    Rinder   206080.0  2016
3002  Schweine  1461323.0  2016
3004    Schafe     6890.0  2016
5690    Rinder   197849.0  2020
5692  Schweine  1411271.0  2020
5694    Schafe     7309.0  2020